{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
    <form method="post">
        <input type="text" name="employee_name" placeholder="Admin Name" required>
        <input type="password" name="password" placeholder="Password" required>
        <button type="submit">Login</button>
        {% if error %}
            <p style="color: red;">{{ error }}</p>
        {% endif %}
    </form>
    <form action="{{ url_for('login') }}" method="get">
        <button type="submit" style="background-color: indianred">Back</button>
    </form>
{% endblock %}